# Feture Construction

1> Adding New Column in Data Fram

In [8]:
# 1> Adding New Column in Data Fram
import pandas as pd
length = [18,20,10,12,18,11]
width = [20,20,10,11,19,20]
data = {"length":length,"width":width}
df = pd.DataFrame(data)
df
df["area"] = df["length"]*df["width"] #For Adding New column
df

   length  width  area
0      18     20   360
1      20     20   400
2      10     10   100
3      12     11   132
4      18     19   342
5      11     20   220

In [9]:
df= pd.read_csv("car data.csv")
df
df["car_age"] = 2025 - df["Year"] # For Adding car_age column
df

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,car_age
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0,11
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0,12
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0,8
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0,14
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0,11
...,...,...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,Diesel,Dealer,Manual,0,9
297,brio,2015,4.00,5.90,60000,Petrol,Dealer,Manual,0,10
298,city,2009,3.35,11.00,87934,Petrol,Dealer,Manual,0,16
299,city,2017,11.50,12.50,9000,Diesel,Dealer,Manual,0,8
300,brio,2016,5.30,5.90,5464,Petrol,Dealer,Manual,0,9

2> Convert Categorical Data into numeric data

In [10]:
age = [18,20,23,19,18,22]
city = ["A","B","B","A","C","B"]
data = {"age":age,"city":city}
df = pd.DataFrame(data)
df
df = pd.get_dummies(data=df) #To Get Dummi Data , Converting Numeric Data,, drop_first=True => For 
df

   age  city_A  city_B  city_C
0   18       1       0       0
1   20       0       1       0
2   23       0       1       0
3   19       1       0       0
4   18       0       0       1
5   22       0       1       0

In [11]:
df = pd.read_csv("car data.csv")
df = df.drop("Car_Name",axis=1) # To Remove Car_Name Column
df = pd.get_dummies(data=df) # To Get Dummies Of All Column
df

,Year,Selling_Price,Present_Price,Kms_Driven,Owner,Fuel_Type_CNG,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Dealer,Seller_Type_Individual,Transmission_Automatic,Transmission_Manual
0,2014,3.35,5.59,27000,0,0,0,1,1,0,0,1
1,2013,4.75,9.54,43000,0,0,1,0,1,0,0,1
2,2017,7.25,9.85,6900,0,0,0,1,1,0,0,1
3,2011,2.85,4.15,5200,0,0,0,1,1,0,0,1
4,2014,4.60,6.87,42450,0,0,1,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
296,2016,9.50,11.60,33988,0,0,1,0,1,0,0,1
297,2015,4.00,5.90,60000,0,0,0,1,1,0,0,1
298,2009,3.35,11.00,87934,0,0,0,1,1,0,0,1
299,2017,11.50,12.50,9000,0,0,1,0,1,0,0,1
300,2016,5.30,5.90,5464,0,0,0,1,1,0,0,1

3> Convert Numeric Data Into Categorical Data

In [12]:
import numpy as np
df["Kms_Driven"] = np.where(df["Kms_Driven"]>40000,"High",np.where(df["Kms_Driven"]<30000,"Low","Medium"))
df["Selling_Price"] = np.where(df["Selling_Price"]>9,"Premium",np.where(df["Selling_Price"]<5,"Basic","Moderate"))
df

,Year,Selling_Price,Present_Price,Kms_Driven,Owner,Fuel_Type_CNG,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Dealer,Seller_Type_Individual,Transmission_Automatic,Transmission_Manual
0,2014,Basic,5.59,Low,0,0,0,1,1,0,0,1
1,2013,Basic,9.54,High,0,0,1,0,1,0,0,1
2,2017,Moderate,9.85,Low,0,0,0,1,1,0,0,1
3,2011,Basic,4.15,Low,0,0,0,1,1,0,0,1
4,2014,Basic,6.87,High,0,0,1,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
296,2016,Premium,11.60,Medium,0,0,1,0,1,0,0,1
297,2015,Basic,5.90,High,0,0,0,1,1,0,0,1
298,2009,Basic,11.00,High,0,0,0,1,1,0,0,1
299,2017,Premium,12.50,Low,0,0,1,0,1,0,0,1
300,2016,Moderate,5.90,Low,0,0,0,1,1,0,0,1

# Simple Linear Regression
Steps :- 
    1> Load Data Set    
    2> Check Null Value         
    3> Shape Of Data Frame          
    4> Define x & y             
    5> Print Shape OF x & y                 
    6> Split Data Into Train & Test                 
    7> Model Selection                  
    8> Find m & c                   
    9> Find Error

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

# Step 1 :- Load Data Set
df = pd.read_csv("Book1.csv")
df

#Step 2 :- Check Null Value
df.isna().sum()

# Step 3 :- Shape Of Data Frame
df.shape

# Step 4 :- Define x & y
x = df[['cgpa']]
x
y = df[['package']]
y

# Step 5 :-  Print Shape OF x & y
x.shape
y.shape

# Step 6 :- Split Data Into Train & Test
# from sklearn.model_selection import train_test_split => For Step 6
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=2)
x_train.shape #(160,1)
x_test.shape #(40,1)
y_train.shape #(160,1)
y_test.shape #(40,1)
''
''
# Step 7 :- Model Selection
# from sklearn.linear_model import LinearRegression => for Step 7
lr = LinearRegression()
lr.fit(x_train,y_train) # To Train Model

# Step 8 :- Find m & c   
m = lr.coef_ # Find m for y = mx + c
print("Value Of m :- ",m)
c = lr.intercept_ # Find c for y = mx + c , intercept_ = Slope
print("Value Of c :- ",c)

# y1 = lr.predict([[7]]) # For Show For & CGPA
# print("Packege of 7 CGPA :- ",y1)

# Step 9 :- Find Error   
# For Find ERROR in Model :- from sklearn.metrics import mean_squared_error
print(y_test)
y_pred = lr.predict(x_test) # To Find Predicted Packege Of x_test
print(y_pred)
print("mean_squared_error(MSE) :- ",mean_squared_error(y_test,y_pred)) # mean_squared_error(y_test,y_pred) => To find mean_squre_error

Value Of m :-  [[0.55795197]]
Value Of c :-  [-0.89611192]
     package
112     4.10
29      3.49
182     2.08
199     2.33
193     1.94
85      1.48
10      1.86
54      3.09
115     4.21
35      2.87
12      3.65
92      4.00
13      2.89
126     2.60
174     2.99
2       3.25
44      1.86
3       3.67
113     2.37
14      3.42
23      2.48
25      3.65
6       2.60
134     2.83
165     4.08
173     2.56
45      3.58
65      3.81
48      4.09
122     2.01
178     3.63
64      2.92
9       3.51
57      1.94
78      2.21
71      3.34
128     3.34
176     3.23
131     2.01
53      2.61
[[3.89111601]
 [3.09324469]
 [2.38464568]
 [2.57434935]
 [1.6537286 ]
 [1.77647803]
 [2.07219258]
 [2.93143862]
 [3.76278706]
 [2.93701814]
 [4.09197872]
 [3.51170867]
 [2.97049525]
 [2.40138424]
 [3.18809652]
 [3.46707251]
 [1.94386362]
 [3.24389172]
 [2.97607477]
 [3.41685683]
 [2.55761079]
 [3.16577844]
 [2.85890486]
 [3.12114229]
 [3.68467378]
 [2.8700639 ]
 [3.49497011]
 [3.34432308]
 [3.91901361]
 [1.96060218]
 [3.65119666]
 [3.2104146 ]
 [3.74046898]
 [2.7863711 ]
 [2.78079158]
 [3.27178932]
 [3.52844723]
 [2.61340599]
 [2.65804215]
 [2.71383735]]
mean_squared_error(MSE) :-  0.12129235313495527

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error


df = pd.read_csv("olympic100.csv")
df

print(df.isna().sum())

print(df.shape)

x = df[['year']]
print(x)
y = df[['time']]
print(y)

print("Shape of x :- ",x.shape)
print("Shape of y :- ",y.shape)

x_train,x_test,y_train,y_test = train_test_split(x, y, test_size=0.2,random_state=2)
print("X_Test :- ",x_test.shape)
print("X_Train :- ",x_train.shape)
print("Y_Test :- ",y_test.shape)
print("Y_Train :- ",y_train.shape)

lr = LinearRegression()
lr.fit(x_train,y_train)

m = lr.coef_
print(m)
c = lr.intercept_
print(c)

y1 = lr.predict([[2025]])
print("Y1 :- ",y1)

year    0
time    0
dtype: int64
(29, 2)
    year
0   1896
1   1900
2   1904
3   1906
4   1908
5   1912
6   1920
7   1924
8   1928
9   1932
10  1936
11  1948
12  1952
13  1956
14  1960
15  1964
16  1968
17  1972
18  1976
19  1980
20  1984
21  1988
22  1992
23  1996
24  2000
25  2004
26  2008
27  2012
28  2016
     time
0   12.00
1   11.00
2   11.00
3   11.20
4   10.80
5   10.80
6   10.80
7   10.60
8   10.80
9   10.30
10  10.30
11  10.30
12  10.40
13  10.50
14  10.20
15  10.00
16   9.95
17  10.14
18  10.06
19  10.25
20   9.99
21   9.92
22   9.96
23   9.84
24   9.87
25   9.85
26   9.69
27   9.63
28   9.81
Shape of x :-  (29, 1)
Shape of y :-  (29, 1)
X_Test :-  (6, 1)
X_Train :-  (23, 1)
Y_Test :-  (6, 1)
Y_Train :-  (23, 1)
[[-0.01161309]]
[33.04355512]
Y1 :-  [[9.52705679]]

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error


df = pd.read_csv("heights_weights.csv")
df

print(df.isna().sum())

print(df.shape)

x = df[['Height']]
print(x)
y = df[['Weight']]
print(y)

print("Shape of x :- ",x.shape)
print("Shape of y :- ",y.shape)

x_train,x_test,y_train,y_test = train_test_split(x, y, test_size=0.2,random_state=2)
print("X_Test :- ",x_test.shape)
print("X_Train :- ",x_train.shape)
print("Y_Test :- ",y_test.shape)
print("Y_Train :- ",y_train.shape)

lr = LinearRegression()
lr.fit(x_train,y_train)

m = lr.coef_
print(m)
c = lr.intercept_
print(c)

y1 = lr.predict([[80]])
print("Y1 :- ",y1)

print(y_test)
y_pred = lr.predict(x_test) # To Find Predicted Packege Of x_test
print(y_pred)
print("mean_squared_error(MSE) :- ",mean_squared_error(y_test,y_pred))

Height    0
Weight    0
Male      0
dtype: int64
(10000, 3)
         Height
0     73.847017
1     68.781904
2     74.110105
3     71.730978
4     69.881796
...         ...
9995  66.172652
9996  67.067155
9997  63.867992
9998  69.034243
9999  61.944246

[10000 rows x 1 columns]
          Weight
0     241.893563
1     162.310473
2     212.740856
3     220.042470
4     206.349801
...          ...
9995  136.777454
9996  170.867906
9997  128.475319
9998  163.852461
9999  113.649103

[10000 rows x 1 columns]
Shape of x :-  (10000, 1)
Shape of y :-  (10000, 1)
X_Test :-  (2000, 1)
X_Train :-  (8000, 1)
Y_Test :-  (2000, 1)
Y_Train :-  (8000, 1)
[[7.71486188]]
[-350.5819479]
Y1 :-  [[266.60700288]]
          Weight
7878  105.311141
3224  162.690594
1919  195.422711
4432  199.601514
4835  182.555285
...          ...
9073  158.455033
8584  112.561989
5390  156.800504
5092  161.363484
2964  187.401430

[2000 rows x 1 columns]
[[120.54965323]
 [135.55036464]
 [192.58077136]
 ...
 [145.67967351]
 [194.9370124 ]
 [184.50151637]]
mean_squared_error(MSE) :-  151.37415841041926

In [14]:
# HW :- tipe.csv ma total_bill parthi , tip find karvani

# Multiple Linear Regression
Formula :- " y = m1x1 + m2x2 + m3x3 + .... + c "                          
Steps:-                 
    1> Load Data             
    2> Print Shape              
    3> Check null Value                 
    4> Data Preprocessing                   
    5> Data Preparation                         
    6> Define x & y                                         
    7> Split data into Train & Test                                                         
    8> Model Selection                                    
    9> Find m & c                    
    10> Find Error

In [15]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error , r2_score , mean_absolute_error

# Step 1> Load Data  
df = pd.read_csv("car data.csv")
df

# Step 2> Print Shape   
print(df.shape)

# Step 3> Check null Value
print(df.isna().sum())

# Step 4> Data Preprocessing 
df["Age"] = 2025 - df["Year"]  # To get age of car
df
df = df.drop("Year",axis=1) # to drop year column
df = df.drop("Car_Name",axis=1) # to drop Car_Name column

# Step 5> Data Preparation 
df = pd.get_dummies(data=df,drop_first=True) #To get dummy columns and drop first dummy column
df

df.columns  # To get all column name from data frame

# Step 6> Define x & y
y = df["Selling_Price"]
print(y)
x = df.drop("Selling_Price",axis=1)
print(x)
print("Shape of x :- ",x.shape)
print("Shape of y :- ",y.shape)

# Step 7> Split data into Train & Test
x_train,x_test,y_train,y_test = train_test_split(x, y, test_size=0.2,random_state=2)
print("X_Train :- ",x_train.shape)
print("X_Test :- ",x_test.shape)
print("Y_Train :- ",y_train.shape)
print("Y_Test :- ",y_test.shape)

# Step 8> Model Selection
lr = LinearRegression()
lr.fit(x_train,y_train)

# Step 9> Find m & c
m = lr.coef_
print("value of m :- ",m)
c = lr.intercept_
print("Value of c :- ",c) 

# Present price 5.5, Kms_Driven = 100000, Owner = 0, Year = 10, Fuel_Type = Petrol , Seller_Type = indivisual , Transmission = menual
y1 = lr.predict([[5.5,100000,0,10,0,1,0,1]])
print("Predicted Price is (y1) : ",y1)

# Present price = 7 , Kms_Driven = 90000, Owner = 0, Year = 5, Fuel_Type = CNG , Seller_Type = indivisual , Transmission = Auto
y2 = lr.predict([[7,90000,0,5,0,0,1,0]])
print("Predicted Price is (y2) : ",y2)

# Step 10> Find Error
y_pred = lr.predict(x_test) # To Find Predicted Price Of Car 
print("MSE :- ",mean_squared_error(y_test,y_pred))
print("RMSE :- ",mean_squared_error(y_test,y_pred)**(0.5))
print("MAE :- ",mean_absolute_error(y_test,y_pred))
print("R2_score :- ",r2_score(y_test,y_pred))

(301, 9)
Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64
0       3.35
1       4.75
2       7.25
3       2.85
4       4.60
       ...
296     9.50
297     4.00
298     3.35
299    11.50
300     5.30
Name: Selling_Price, Length: 301, dtype: float64
     Present_Price  Kms_Driven  Owner  Age  Fuel_Type_Diesel  \
0             5.59       27000      0   11                 0
1             9.54       43000      0   12                 1
2             9.85        6900      0    8                 0
3             4.15        5200      0   14                 0
4             6.87       42450      0   11                 1
..             ...         ...    ...  ...               ...
296          11.60       33988      0    9                 1
297           5.90       60000      0   10                 0
298          11.00       87934      0   16                 0
299          12.50        9000      0    8                 1
300           5.90        5464      0    9                 0

     Fuel_Type_Petrol  Seller_Type_Individual  Transmission_Manual
0                   1                       0                    1
1                   0                       0                    1
2                   1                       0                    1
3                   1                       0                    1
4                   0                       0                    1
..                ...                     ...                  ...
296                 0                       0                    1
297                 1                       0                    1
298                 1                       0                    1
299                 0                       0                    1
300                 1                       0                    1

[301 rows x 8 columns]
Shape of x :-  (301, 8)
Shape of y :-  (301,)
X_Train :-  (240, 8)
X_Test :-  (61, 8)
Y_Train :-  (240,)
Y_Test :-  (61,)
value of m :-  [ 4.28802981e-01 -5.92316903e-06 -8.49009727e-01 -4.06411225e-01
  2.86056285e+00  7.03103550e-01 -1.07477347e+00 -1.50897975e+00]
Value of c :-  6.850757321843104
Predicted Price is (y1) :  [3.74686837]
Predicted Price is (y2) :  [6.21246338]
MSE :-  2.750689262139753
RMSE :-  1.658520202511791
MAE :-  1.2453565634870642
R2_score :-  0.8502332355855595

In [16]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error , r2_score , mean_absolute_error

# Step 1> Load Data  
df = pd.read_csv("advertising.csv")
df

# Step 2> Print Shape   
print(df.shape)

# Step 3> Check null Value
print(df.isna().sum())

df.columns  # To get all column name from data frame

# Step 6> Define x & y
y = df["Sales"]
print(y)
x = df.drop("Sales",axis=1)
print(x)
print("Shape of x :- ",x.shape)
print("Shape of y :- ",y.shape)

# Step 7> Split data into Train & Test
x_train,x_test,y_train,y_test = train_test_split(x, y, test_size=0.2,random_state=1)
print("X_Train :- ",x_train.shape)
print("X_Test :- ",x_test.shape)
print("Y_Train :- ",y_train.shape)
print("Y_Test :- ",y_test.shape)

# Step 8> Model Selection
lr = LinearRegression()
lr.fit(x_train,y_train)

# Step 9> Find m & c
m = lr.coef_
print("value of m :- ",m)
c = lr.intercept_
print("Value of c :- ",c) 

#TV = 230.1 , Radio = 37.8 , Newspaper = 69.2 ,Sales = ?
y1 = lr.predict([[230.1,37.8,69.2]])
print("y1 :- ",y1)
# Step 10> Find Error
y_pred = lr.predict(x_test) # To Find Predicted Price Of Car 
print("MSE :- ",mean_squared_error(y_test,y_pred))
print("RMSE :- ",mean_squared_error(y_test,y_pred)**(0.5))
print("MAE :- ",mean_absolute_error(y_test,y_pred))
print("R2_score :- ",r2_score(y_test,y_pred))

(200, 4)
TV           0
Radio        0
Newspaper    0
Sales        0
dtype: int64
0      22.1
1      10.4
2      12.0
3      16.5
4      17.9
       ...
195     7.6
196    14.0
197    14.8
198    25.5
199    18.4
Name: Sales, Length: 200, dtype: float64
        TV  Radio  Newspaper
0    230.1   37.8       69.2
1     44.5   39.3       45.1
2     17.2   45.9       69.3
3    151.5   41.3       58.5
4    180.8   10.8       58.4
..     ...    ...        ...
195   38.2    3.7       13.8
196   94.2    4.9        8.1
197  177.0    9.3        6.4
198  283.6   42.0       66.2
199  232.1    8.6        8.7

[200 rows x 3 columns]
Shape of x :-  (200, 3)
Shape of y :-  (200,)
X_Train :-  (160, 3)
X_Test :-  (40, 3)
Y_Train :-  (160,)
Y_Test :-  (40,)
value of m :-  [ 0.05507865  0.10308563 -0.00090115]
Value of c :-  4.63762444239792
y1 :-  [21.14549908]
MSE :-  2.4093336128923672
RMSE :-  1.5522028259516754
MAE :-  1.2754390912939682
R2_score :-  0.8747226291661847

In [17]:
# QB 205
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error , r2_score , mean_absolute_error

# Step 1> Load Data  
df = pd.read_csv("FuelConsumptionCo2.csv")
df

# Step 2> Print Shape   
print(df.shape)

# Step 3> Check null Value
print(df.isna().sum())

df.columns  # To get all column name from data frame

# Step 6> Define x & y
df = pd.get_dummies(data=df,drop_first=True)
df
y = df["CO2EMISSIONS"]
x = df.drop("CO2EMISSIONS", axis=1)
print("Shape of x :- ",x.shape)
print("Shape of y :- ",y.shape)


# Step 7> Split data into Train & Test
x_train,x_test,y_train,y_test = train_test_split(x, y, test_size=0.2,random_state=1)
print("X_Train :- ",x_train.shape)
print("X_Test :- ",x_test.shape)
print("Y_Train :- ",y_train.shape)
print("Y_Test :- ",y_test.shape) 
print(df)
# Step 8> Model Selection
lr = LinearRegression()
lr.fit(x_train,y_train)

# # Step 9> Find m & c
# m = lr.coef_
# print("value of m :- ",m)
# c = lr.intercept_
# print("Value of c :- ",c) 

# #TV = 230.1 , Radio = 37.8 , Newspaper = 69.2 ,Sales = ?
# y1 = lr.predict([[230.1,37.8,69.2]])
# print("y1 :- ",y1)
# # Step 10> Find Error
y_pred = lr.predict(x_test) # To Find Predicted Price Of Car 
print("MSE :- ",mean_squared_error(y_test,y_pred))
print("RMSE :- ",mean_squared_error(y_test,y_pred)**(0.5))
print("MAE :- ",mean_absolute_error(y_test,y_pred))
print("R2_score :- ",r2_score(y_test,y_pred))

(1067, 13)
MODELYEAR                   0
MAKE                        0
MODEL                       0
VEHICLECLASS                0
ENGINESIZE                  0
CYLINDERS                   0
TRANSMISSION                0
FUELTYPE                    0
FUELCONSUMPTION_CITY        0
FUELCONSUMPTION_HWY         0
FUELCONSUMPTION_COMB        0
FUELCONSUMPTION_COMB_MPG    0
CO2EMISSIONS                0
dtype: int64
Shape of x :-  (1067, 746)
Shape of y :-  (1067,)
X_Train :-  (853, 746)
X_Test :-  (214, 746)
Y_Train :-  (853,)
Y_Test :-  (214,)
      MODELYEAR  ENGINESIZE  CYLINDERS  FUELCONSUMPTION_CITY  \
0          2014         2.0          4                   9.9
1          2014         2.4          4                  11.2
2          2014         1.5          4                   6.0
3          2014         3.5          6                  12.7
4          2014         3.5          6                  12.1
...         ...         ...        ...                   ...
1062       2014         3.0          6                  13.4
1063       2014         3.2          6                  13.2
1064       2014         3.0          6                  13.4
1065       2014         3.2          6                  12.9
1066       2014         3.2          6                  14.9

      FUELCONSUMPTION_HWY  FUELCONSUMPTION_COMB  FUELCONSUMPTION_COMB_MPG  \
0                     6.7                   8.5                        33
1                     7.7                   9.6                        29
2                     5.8                   5.9                        48
3                     9.1                  11.1                        25
4                     8.7                  10.6                        27
...                   ...                   ...                       ...
1062                  9.8                  11.8                        24
1063                  9.5                  11.5                        25
1064                  9.8                  11.8                        24
1065                  9.3                  11.3                        25
1066                 10.2                  12.8                        22

      CO2EMISSIONS  MAKE_ASTON MARTIN  MAKE_AUDI  ...  TRANSMISSION_AV  \
0              196                  0          0  ...                0
1              221                  0          0  ...                0
2              136                  0          0  ...                0
3              255                  0          0  ...                0
4              244                  0          0  ...                0
...            ...                ...        ...  ...              ...
1062           271                  0          0  ...                0
1063           264                  0          0  ...                0
1064           271                  0          0  ...                0
1065           260                  0          0  ...                0
1066           294                  0          0  ...                0

      TRANSMISSION_AV6  TRANSMISSION_AV7  TRANSMISSION_AV8  TRANSMISSION_M5  \
0                    0                 0                 0                0
1                    0                 0                 0                0
2                    0                 1                 0                0
3                    0                 0                 0                0
4                    0                 0                 0                0
...                ...               ...               ...              ...
1062                 0                 0                 0                0
1063                 0                 0                 0                0
1064                 0                 0                 0                0
1065                 0                 0                 0                0
1066                 0                 0                 0                0

      TRANSMISSION_M6  TRANSMISSION_M7  FUELTYPE_E  FUELTYPE_X  FUELTYPE_Z
0                   0                0           0           0           1
1                   1                0           0           0           1
2                   0                0           0           0           1
3                   0                0           0           0           1
4                   0                0           0           0           1
...               ...              ...         ...         ...         ...
1062                0                0           0           1           0
1063                0                0           0           1           0
1064                0                0           0           1           0
1065                0                0           0           1           0
1066                0                0           0           1           0

[1067 rows x 747 columns]
MSE :-  2.7738678953090135e+20
RMSE :-  16654932888.814093
MAE :-  6880748780.610598
R2_score :-  -6.838170396245492e+16

In [32]:
# 1> Add new column "Total Marks" 
# 2> New Column "Grade" 85<A , 75<B , 65<c , 50<d , 35<e , 35>f 
# 3> Build Simple linear regression model and predict total marks based on test 1 marks
# 4> Also find msc , r2 score , take value of random state=42 
df = pd.read_csv("Marksheet.csv")
# 1>
df["Total Marks"] = df["TEST-1 MARKS"]+df["TEST-2 MARKS"]+df["TEST-3 MARKS"]+df["TEST-4 MARKS"]
# 2>
df["Grade"] = np.where(df["Total Marks"]>=85,"A", np.where(df["Total Marks"]>=75,"B", np.where(df["Total Marks"]>=65,"C", np.where(df["Total Marks"]>=50,"D", np.where(df["Total Marks"]>=35,"E","F" )))))
# 3>
print(df.isna().sum())
print(df.shape)
x = df[["TEST-1 MARKS"]]
print(x)
y = df[["Total Marks"]]
print(y)
x_train,x_test,y_train,y_test = train_test_split(x, y, test_size=0.2,random_state=42)
lr = LinearRegression()
lr.fit(x_train,y_train)
m = lr.coef_
print(m)
c = lr.intercept_
print(c)
y_pred = lr.predict(x_test) # To Find Predicted Packege Of x_test
print(y_pred)
print("mean_squared_error(MSE) :- ",mean_squared_error(y_test,y_pred))
print("R2_Score :- ",r2_score(y_test,y_pred))

sr no           0
Branch          0
Enrolment No    0
Name            0
Roll No         0
Div             0
Mentor Name     1
TEST-1 MARKS    0
TEST-2 MARKS    0
TEST-3 MARKS    0
TEST-4 MARKS    0
Total Marks     0
Grade           0
dtype: int64
(299, 13)
     TEST-1 MARKS
0            22.5
1            21.5
2            17.0
3            21.0
4            24.0
..            ...
294          18.5
295          22.0
296          21.5
297          24.5
298          19.5

[299 rows x 1 columns]
     Total Marks
0           77.5
1           74.5
2           75.5
3           69.5
4           91.5
..           ...
294         56.5
295         63.5
296         65.5
297         83.5
298         53.0

[299 rows x 1 columns]
[[3.53223839]]
[-0.02429667]
[[56.49151752]
 [84.74942462]
 [82.98330542]
 [84.74942462]
 [75.91882865]
 [70.62047107]
 [81.21718623]
 [82.98330542]
 [77.68494784]
 [74.15270946]
 [63.5559943 ]
 [77.68494784]
 [75.91882865]
 [72.38659026]
 [88.281663  ]
 [61.7898751 ]
 [82.98330542]
 [68.85435188]
 [81.21718623]
 [56.49151752]
 [81.21718623]
 [77.68494784]
 [86.51554381]
 [81.21718623]
 [79.45106704]
 [82.98330542]
 [51.19315994]
 [82.98330542]
 [47.66092155]
 [77.68494784]
 [60.02375591]
 [81.21718623]
 [75.91882865]
 [52.95927913]
 [84.74942462]
 [60.02375591]
 [67.08823268]
 [74.15270946]
 [77.68494784]
 [81.21718623]
 [84.74942462]
 [24.70137204]
 [63.5559943 ]
 [63.5559943 ]
 [74.15270946]
 [70.62047107]
 [72.38659026]
 [72.38659026]
 [52.95927913]
 [42.36256397]
 [79.45106704]
 [70.62047107]
 [77.68494784]
 [86.51554381]
 [77.68494784]
 [77.68494784]
 [28.23361043]
 [49.42704075]
 [56.49151752]
 [75.91882865]]
mean_squared_error(MSE) :-  103.66990257531208
R2_Score :-  0.6400451286845531